<% if (isTypeSafe) { %>//@flow<% } %>
import React from 'react'
<% if (isTypeSafe) { %>import type { Node } from 'react'<% } %>

import use<%= componentName %>Styles from './index.styles'
<% if (isTypeSafe) { %>import type { <%= componentName %>Props } from './index.types'<% } %>

const <%= componentName %> = (props<% if (isTypeSafe) { %>: <%= componentName %>Props<% } %>)<% if (isTypeSafe) { %>: Node<% } %> => {
  const classes = use<%= componentName %>Styles()

  return <div className={classes.root}></div>
}

export default <%= componentName %>
